.list {
  gap: var(--mantine-spacing-lg);
  border-bottom: 1px solid var(--green-100);
}

.list::before {
  border-color: var(--green-100) !important;
}

.tab {
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--green-500);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 12px 4px;
  margin-bottom: -1px;
}

.tab:hover {
  background-color: transparent;
  color: var(--green-700);
}

.tab[data-active] {
  color: var(--green-900);
  border-bottom-color: var(--green-700);
  background-color: transparent;
}

.tab[data-active]:hover {
  color: var(--green-900);
  background-color: transparent;
}
